/* MODAL */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease forwards;
}

.modal {
  width: 400px; 
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.modal-animate {
  animation: scaleIn 0.3s ease forwards;
}

.modal-actions, p{
  display: flex;
  justify-content: center;
  padding: 10px;
}

.modal-actions button {
  padding: 0.4rem 1rem;
  border: none;
  margin: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.modal-actions .confirm {
  background: rgb(142, 247, 116);
  color: white;
}

.modal-actions .cancelar {
  background: rgb(247, 116, 127);
  color: white;
}